*.o
src/libcsv_parser.a
config
config.log
aclocal.m4
autom4te.cache
configure
config.status
Makefile.in
Makefile
.deps
.dirstamp
libtool

*.pc
configure~
.libs/
*.la
*.lo
*.log
*.trs
examples/bench
examples/parser
tests/test

examples/large.csv
examples/wide.csv
examples/quoted.csv
